/*
  =========================================

	  ANIMATIONS

    -> Keyframes and every other general animation to be applied

	=========================================
*/

// -------------------------------------
//   Variables
// -------------------------------------
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes fade-in-out {
  0%  { color: rgba(255, 255, 255, 1); }
  50% { color: rgba(255, 255, 255, 0.4); }
  100% { color: rgba(255, 255, 255, 1); }
}


@keyframes rotate-shadow {
  0% {
    box-shadow: 2px 2px 3px rgba(0, 150, 136, 0.69) inset;
  }
  25% {
    box-shadow: 1px 2px 3px rgba(0, 150, 136, 0.69) inset;
  }
  50% {
    box-shadow: -2px -2px 3px rgba(0, 150, 136, 0.69) inset;
  }
  75% {
    box-shadow: 1px -1px 3px rgba(0, 150, 136, 0.69) inset;
  }
  100% {
    box-shadow: 2px 2px 3px rgba(0, 150, 136, 0.69) inset;
  }
}