/*
  =========================================

	  CLASSES

    -> Helper classes. Can be created by extending placeholders

	=========================================
*/

// -------------------------------------
//   Variables
// -------------------------------------
.opacity-img { opacity: 0; }
.display-none { display: none !important; }
.display-table { display: table !important; table-layout: fixed; width: 100%; }
.bold { font-weight: 800; }

.clear-content {
  &:after { content: ''; display: block; clear: both; }
}

.clear-fix { float: none; clear: both; }

.max-width-450 { max-width: 450px; margin: 0 auto; }

.mg-0 { margin: 0 !important }
.mgb-0 { margin-bottom: 0; }
.is-link { cursor: pointer; }
.mg-top-5 { margin-top: 5%; }
.mgb-5 { margin-bottom: 5%; }
.mgb-20px { margin-bottom: 20px;  }
.mgb-30px { margin-bottom: 30px;  }
.mgt-15 { margin-top: 15px !important; }

.mgt-10 { margin-top: 10% !important; }

.fs-18 { font-size: toem(18px); }
.fs-20 { font-size: toem(20px); }
.fs-23 { font-size: toem(23px); }

.w-50 { width: 50% !important; }

.width-auto { width: auto; }