/*
  =========================================

	  CLASSES

    -> Helper classes. Can be created by extending placeholders

	=========================================
*/

// -------------------------------------
//   Variables
// -------------------------------------

.opacity-img { opacity: 0; }
.display-none { display: none !important; }
.is-link { cursor: pointer; }