/*
  =========================================

	  CLASSES

    -> Helper classes. Can be created by extending placeholders

	=========================================
*/

// -------------------------------------
//   Variables
// -------------------------------------
.opacity-img { opacity: 0; }
.display-none { display: none !important; }
.display-table { display: table !important; table-layout: fixed; width: 100%; }

.max-width-450 { max-width: 450px; margin: 0 auto; }

.mg-0 { margin: 0 !important }
.mgb-0 { margin-bottom: 0; }
.is-link { cursor: pointer; }
.mg-top-5 { margin-top: 5%; }
.mgb-5 { margin-bottom: 5%; }
.mgb-20px { margin-bottom: 20px;  }