<p class="loading-serv" ng-if="isLoading">Cargando servicios...</p>
 
ver! {{ bus.data[0] }} 

<div ng-if="!isLoading">
    <div combo list-options="listOptions"></div>
     <div class="element-edit" ng-repeat="(key, dataLevel) in bus.data track by $index">
        <div block-info current-info="{{dataLevel}}" current-index="{{key}}" root-json="bus.data"></div>
    </div> 
    <!-- <div block-info info-array="bus.data"></div> -->
</div>


<!-- <div class="element-edit" ng-repeat="dataLevel in bus.data track by $index">
        <h1 ng-bind="dataLevel['nombre']"></h1>
        <div ng-repeat="(i, d) in dataLevel track by $index">
            <label ng-bind="i"></label>
            <div ng-if="!isObject(d)">
                <input ng-model="dataLevel[i]" ng-change="setValue()">
            </div>
            <div ng-if="isObject(d)" class="sub-detail">
                <div ng-repeat="(j, subData) in d track by $index">
                    <label ng-bind="j"></label><input ng-model="d[j]" ng-change="setValue()">
                </div>
            </div>
        </div>
    </div> -->