<div id="modalColectivos" class="modal modal-element" ng-class="{'show-modal-element': modal.showModal}">
    <!--ng-controller="modalBusCrontroller"-->
    <span class="close-modal icon-arrow_right" ng-click="closeModal()"></span>
    <div>
        <div class="content-modal">
            <h1 class="title-line mgt-10">Agregar como app</h1>
            <section class="add-home">

                <div>
                    <p>En dispositivos móviles puede agregar la web a la pantalla principal de su dispositivo para acceder como una app. Aparecerá
                        el siguiente icono
                    </p>
                    <img class="fav-icon" src="/favicon/android-chrome-192x192.png" alt="">
                </div>

                <h2>Chrome</h2>
                <img src="/img/1-Android.jpg" alt="">
                <img src="/img/2-Android.jpg" alt="">

                <h2>Safari</h2>
                <img src="/img/iOS-1.jpg" alt="">
                <img src="/img/iOS-2.jpg" alt="">
            </section>
            <button type="button" class="button-transparent" ng-click="closeModal()">Gracias</button>
        </div>
    </div>
</div>