// *************************************
//
//   Media queries
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$mediaquery_desktop: 1280px;
$mediaquery_tablets: 1024px;
$mediaquery_tablets--portrait: 768px;
$mediaquery_phones: 950px;
$mediaquery_phones-small--portrait: 480px;

@media screen and (max-width: $mediaquery_desktop) { 
    
}

@media screen and (max-width: $mediaquery_tablets){
    div.wrapper {
        width: 90%;
        .content-info.fb { text-align: right; }
    }
    .modal-home { display: block !important; }
    .detail-block .element-icon.util-phone { display: table-cell; }
}

@media screen and (min-width: $mediaquery_phones) {
    .mobile { display: none !important; }
}

@media screen and (max-width: $mediaquery_phones) {
    * { cursor: progress !important; }
    body { 
        font-size: 14px;
        .header { padding: 1em 0; }
        main { padding-bottom: 10px; }
        footer { padding: 5px; } 

        .wrapper { width: 90%; }

        .farmacia {
            .link {
                &.call { display: block; margin-top: 20px; }
                &.map { display: block; }
                button { width: 100%; }
            }
            .datos.desktop { display: none; }

        }

        .info.services .table-services th {
				&:nth-child(1){ width: 70%; }
				&:nth-child(2) { width: 20%; }
				&:nth-child(3) { width: 10%; }
		}

        .content-info { width:100%; }

        .modal div.content-modal { padding: 0 5%; }
        form.bg-white > div input { height: 42px; }

        div.wrapper .content-info.fb { display: none; }
        /*.detail-block .element-icon { cursor: none; }*/
    }
}
