// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************


// *************************************
//
//   -> Thanks to Jeet Grid System
//			http://jeet.gs/
//
// *************************************

// Uncomment the following line to debug layout's box model.
// @include edit();


// -------------------------------------
//   @font-face
// -------------------------------------

$base_font-size: 						16px;
$base_font-weight: 						400;
$base_font-family: 						'Roboto', 'Oswald', 'PT Serif', 'Dancing Script', sans-serif;
$base_font: 							$base_font-weight toem($base_font-size) $base_font-family;



// -------------------------------------
//   Font colors
// -------------------------------------

$base_font-color--bright: 		#fff;
$base_font-color--dark: 			#000;



// -------------------------------------
//   Backgrounds
// -------------------------------------

$base_background: 						white;



// -------------------------------------
//   Wrappers
// -------------------------------------

$holder-max-width: 						torem(1280px);
$app-max-width: 							torem(960px);

$color50:  #E0F2F1;
$color100: #B2DFDB;
$color200: #80CBC4;
$color300: #4DB6AC;
$color400: #26A69A;
$color500: #009688;
$color600: #00897B;
$color700: #00796B;
$color800: #00695C;
$color900: #004D40;

/*Grey*/
$grey50:  #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;


a:link    { color: black; }
a:visited { color: black; }
