.accordion-element {
    max-height: 0; overflow: hidden; display: block; transition: max-height .5s ease;
}

button.button.accordion-button {
    .icon-arrow_right { font-size: 1.4em; line-height: 0.88; float: right; transition: .3s ease; margin: 0; }
    &.accordion-is-open {
        .icon-arrow_right { transform: rotate3d(0,0,1, 90deg); }
    }
}