// *************************************
//
//   Tabs
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

.tabs {
	background: white; box-shadow: inset 0px -16px 16px -18px black;
	
	li { display: inline-block; }
	&.nav-tabs {
		position: relative;
		li {
			transition: border .3s linear; cursor: pointer; text-transform: uppercase;
			border-bottom: 2px solid transparent; height: 45px; float: left; display: table;
			a { 
				width: 100%; text-align: center; display: table-cell; vertical-align: middle;
				span { color: #2b2b2b; } 
			}
			&.is-selected { 
				    border-bottom: 2px solid #20a2ad; max-height: 55px;
				span { color: #20a2ad; }
			}
		}
	}
}

@media (max-width: 600px) {
	.tabs.nav-tabs li a {
		span {
			display: block; margin: 0;
			&:last-of-type { margin: 0; }
		}
	}
}