// *************************************
//
//   Tabs
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

.tabs {
	background: white; box-shadow: inset 0px -16px 16px -18px black;
	
	li { display: inline-block; }
	&.nav-tabs { 
		li {
			transition: box-shadow .3s ease; cursor: pointer; text-transform: uppercase;
			a { 
				padding: 1.2em; width: 100%; text-align: center;
				span { color: #2b2b2b; } 
			}
			&.is-selected { 
				box-shadow: 0px -8px 0 0 #20a2ad inset; 
				span { color: #20a2ad; }
			}
		}
	}
}

@media (max-width: 600px) {
	.tabs.nav-tabs li a {
		span {
			display: block; margin: 0; margin-bottom: 3px;
		}
		padding: 0.8em;
	}
}