<div id='player_{{config.id}}' class="audio-player-button" ng-class="{'is-playing': config.isPlaying}">
    <div class="clear-content">
        <div>
            <img src="{{ config.img }}" alt="">
        </div>
        <div>
            <h1 ng-bind="config.name"></h1>
            <div id="play_button" ng-click="play_aud()" class="button-play-pause">
                <span class="icon-play_arrow"></span>
                <span class="icon-pause"></span>
            </div>
        </div>
    </div>
    <audio id="musicPlayer_{{config.id}}">
        <source src="{{ config.src }}" />
    </audio>
    <div class="vol-control">
        <input id="change_vol_{{config.id}}" type="range" ng-model="config.range" min="0" max="1" step="0.01" ng-change="change_vol()">
        <span class="icon-volume-mute2" ng-class="{'visible-audio': config.isPlaying}"></span>
        <span class="icon-volume-high" ng-class="{'visible-audio': config.isPlaying}"></span>
    </div>
</div>