<div class="info colectivos header-section">
	<h3 class="mgb-5">Seleccione la dirección que desea tomar</h3>

	<!--ROSARIO-->
	<button accordion-element element-to-shrink="wrapTableRosario" max-height="2000" class="accordion-button button">
		<span>a Rosario</span>
		<span class="icon-arrow_right"></span>
	</button>
	<div id="wrapTableRosario" class="accordion-element">
		<table main-table table-config="tableRosario" selected-row="tableRosario.selectedRow" callback="clickRow" class="table-buses visible"
		 ng-if="loadedService"></table>
	</div>
	<div class="sombra-inferior"></div>
	<!--******************-->


	<!--FIRMAT-->
	<button accordion-element element-to-shrink="wrapTableFirmat" max-height="600" class="accordion-button button">
		<span>a Firmat</span>
		<span class="icon-arrow_right"></span>
	</button>
	<div id="wrapTableFirmat" class="accordion-element">
		<table main-table table-config="tableFirmat" selected-row="tableFirmat.selectedRow" callback="clickRow" class="table-buses visible"
		 ng-if="loadedService"></table>
	</div>
	<div class="sombra-inferior"></div>
	<!--******************-->

	<div id="mapBus" class="map-element"></div>

	<div id="modalColectivos" class="modal" ng-class="{'show-modal': modal.showModal}">
		<span class="close-modal icon-cancel-circle" ng-click="modal.showModal= false"></span>
		<div>
			<div class="content-modal">
				<span class="icon-info"></span>
				<h1 ng-bind="modal.detail"></h1>
			</div>
		</div>
	</div>
</div>