.info {
	&.colectivos {
		height: 100%;

		.content-table {

			[class^="icon-"]:before { visibility: hidden; width: 15%; color: #A08E00; font-size: 1.4em;}

			.has-details { 
				[class^="icon-"]:before { visibility: visible; }
			}
		}
		.table-buses {
			th {
				&:nth-child(1){ width: 15%; }
				&:nth-child(2) { width: 20%; }
				&:nth-child(3) { width: 65%; }
			}
		}
	}
}