.farmacia {
	.datos {
		margin: 20px 0; font-size: 16px;
		.img { background-image: url(../img/logo.jpg); background-size: contain; background-repeat: no-repeat; background-position-x: 10px; 
				float: left; height: 102px; width: 20%; }

		.text { font-weight: 800; }
	}
	.button span[class^=icon-].icon-phone { font-size: 18px; position: relative; top: -1px; }
	.img-logo { width: 150px; margin-top: 20px; }
	.link.call { display: none; }
}