.info {
	&.services {
		height: 100%;
		.table-services {
			padding: 0px 5px;
			th {
				&:nth-child(1){ width: 60%; }
				&:nth-child(2) { width: 30%; }
				&:nth-child(3) { width: 10%; }
			}
		}
		button.button { 
			width: 100%; /*box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 10px 0;*/
		}
	}
}

.service-block {
  padding: 10px 0; border-bottom: 1px solid $grey300; display: table; table-layout: fixed; width: 100%;
  &:first-of-type { border-top: 1px solid $grey300; }
  .content-info-phones {
	display: inline-block; width: 80%; border-right: 1px solid #929292; padding-right: 10px;
  	h2 { margin-bottom: 5px; font-size: toem(16px); color: $color800; font-weight: 800; min-height: 28px; }
  }
  >div { display: inline-block; vertical-align: middle; }
  .phone-icon { width: 20%; text-align: center; font-size: 20px; }
}