<section transition>
    <h1 class="title-line">Contacto</h1>

    <form name="form.data" class="bg-white display-table">
        <ul class="data-required">
            <li>
                <input id="idComment" type="text" name="comment" ng-model="data.comment" value="" ng-class="setError(data.comment)"
                    autocomplete="off">
                <label for="idComment" ng-class="{'has-text': data.comment != ''}">Si lo desea puede dejarnos un comentario.</label>
            </li>
        </ul>
        <div>
            <input type="button" ng-click="submit()" class="ripple button animation">
            <span class="icon-paperplane"></span>
        </div>
    </form>
    <div class="content-contact">
        <div class="contact-ico">
            <a href="tel:+5493464510474" class="icon-mobile"></a>
        </div>
        <div class="contact-ico">
            <a href="sms:+5493464510474?body=Hola! Escribo para contarte que..." class="icon-envelope"></a>
        </div>
        <div class="contact-ico">
            <a href="mailto:nicoc123@gmail.com" class="icon-email"></a>
        </div>
        <div class="contact-ico">
            <a href="skype:nico_c123?chat" class="icon-skype"></a>
        </div>
        <div class="contact-ico">
            <a href="https://www.facebook.com/messages/t/nico.c123" class="icon-facebook" target="_blank"></a>
        </div>
        <div class="contact-ico">
            <a href="plus.google.com/101544137738430014386" class="icon-googleplus" target="_blank"></a>
        </div>
    </div>
    <p class="credits">Diseñado y desarrollado por <span>Nicolás Croce</span></p>
</section>