<section transition>
    <h1 class="title-line">Contacto</h1>

    <form name="form.data" class="bg-white clear-both">
        <ul class="data-required">
            <li>
                <input id="idComment" type="text" name="comment" ng-model="data.comment" value="" ng-class="setError(data.comment)" autocomplete="off">
                <label for="idComment" ng-class="{'has-text': data.comment != ''}">Si lo desea puede dejarnos un comentario.</label>
            </li>
        </ul>
        <div>
            <input type="button" ng-click="submit()" class="ripple button animation">
            <span class="icon-paperplane"></span>
        </div>
    </form>
    <div class="content-contact clear-both">
        <div class="contact-ico">
            <a href="tel:+5493464510474" class="icon-mobile"></a>
        </div>
        <div class="contact-ico">
            <a href="mailto:nicoc123@gmail.com" class="icon-email"></a>
        </div>
    </div>
    <!--<div class="fb-chabas">
        <div class="fb-page" data-href="https://www.facebook.com/chabashoy/" data-tabs="messages" data-height="300px" data-small-header="false"
            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/chabashoy/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/chabashoy/"></a></blockquote>
        </div>
    </div>-->
    <a class="fb-chabas" href="https://www.facebook.com/chabashoy/" target="_blanck">
        <img src="/img/bannerFace.PNG" alt="">
    </a>    
</section>
<div id="modalThy" class="modal modal-element display-table" ng-class="{'show-modal-element': modalThy.showModal}">
    <div class="content-modal">
        <div>
            <div class="info-msg mg-0">
                <p>Gracias por colaborar con el pueblo de Chabás.</p>
            </div>
        </div>
    </div>
</div>