<section transition>
    <h1 class="title-line">Contacto</h1>

    <!--<form name="form.data" class="bg-white clear-both">
        <ul class="data-required">
            <li>
                <input id="idComment" type="text" name="comment" ng-model="data.comment" value="" ng-class="setError(data.comment)" autocomplete="off">
                <label for="idComment" ng-class="{'has-text': data.comment != ''}">Si lo desea puede dejarnos un comentario.</label>
            </li>
        </ul>
        <div>
            <input type="button" ng-click="submit()" class="ripple button animation">
            <span class="icon-paperplane"></span>
        </div>
    </form>-->
    <div class="content-contact clear-both">
        <div class="contact-ico">
            <a href="tel:+5493464510474" class="icon-mobile"></a>
        </div>
        <div class="contact-ico">
            <a href="mailto:nicoc123@gmail.com?subject=ChabasHOY" class="icon-email"></a>
        </div>
        <div class="contact-ico">
            <a href="https://www.facebook.com/chabashoy" class="icon-facebook" target="_blank"></a>
        </div>
    </div>

    <h1 class="title-line mgt-10">Mejoras evaluadas</h1>
    <ul class="improvements">
        <li>Lista de remises habilitados. <span class="icon-checkmark-circle done"></span></li>
        <li>Agregar más números de Instituciones. <span class="icon-checkmark-circle"></span></li>
        <li>Sección de Noticias <span class="icon-checkmark-circle"></span></li></li>
        <li>Servicio meteorológico <span class="icon-checkmark-circle"></span></li>
        <li>Sección de clubes <span class="icon-checkmark-circle"></span></li>
        <li>Opciones y ayuda <span class="icon-checkmark-circle"></span></li>
    </ul>
    
</section>


<!--<div id="modalThy" class="modal modal-element display-table" ng-class="{'show-modal-element': modalThy.showModal}">
    <div class="content-modal">
        <div>
            <div class="info-msg mg-0">
                <p>Gracias por colaborar con el pueblo de Chabás.</p>
            </div>
        </div>
    </div>
</div>-->