<!DOCTYPE html>
<html lang="es-AR" xml:lang="es-AR" xmlns="http://www.w3.org/1999/xhtml" ng-app="chabasHoy" ng-class="{'modal-is-open': modalIsOpen}">

<head>
    <title>ChabásHoy</title>
    <link rel="manifest" href="manifest.json">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff">

    <!-- mio -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,700,300italic,400' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/iconServicios.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });

            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P6GKZ83');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body ng-controller="IndexController" ng-class="{'modal-is-open': modalIsOpen, 'is-admin': isAdmin}">
    <div id="fb-root"></div>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6GKZ83" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Include of main header -->
    <div class="main-container">
        <div class="connection" ng-class="{'visible-con': offline}">
            <p> Sin conexión </p>
        </div>
        <header class="main-header">
            <section class="complete-header">
                <div class="header">
                    <div class="wrapper mgb-0">
                        <h1 class="subTitle">
                            <strong>Chabás</strong><span class="hoy">hoy!</span>
                        </h1>
                        <div class="menu-access" ui-sref="menu">
                            <div class="menu-i"></div>
                            <div class="menu-i"></div>
                            <div class="menu-i"></div>
                        </div>
                        <!--<div id="updateData" class="update-toaster">
                                <span class="icon-sync"></span>
                            </div>-->
                    </div>
                </div>
                <nav id="mainTab" switch-tabs tabs="tabs" ng-class="{'nav-show': showNav() }"></nav>
            </section>
            <div class="back-section" ng-click="backSection()" ng-class="{'back-section-visible': backSectionVisible}">
                <span class="icon-arrow_right rotate-arrow"></span><span class="text-back">Regresar</span>
            </div>
        </header>
        <main id="mainSection" role="main" class="main" ng-class="{'is-back-visible': backSectionVisible}">
            <section class="content">
                <div class="wrapper">
                    <div class="content-info clear-both">

                        <section class="bg-spinner hidden-modal" ng-class="{'hidden-modal': !loadingService}">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                            <h4>actualizando datos...</h4>
                        </section>
                        <div ui-view ng-cloak class="view"></div>
                    </div>
                    <div facebook-wall class="content-info fb clear-both" ng-if="!isMobile"></div>
                </div>
            </section>
        </main>
        <footer>
            <p class="credits">Diseñado y Desarrollado por <span>Nicolás Croce</span></p>
            <p class="credits version">v1.0.6</p>
        </footer>
    </div>

    <!-- <div ng-include="'templates/servicios/modalServiceUpdate.html'"></div> -->

    <!--<div ng-include="'templates/index/modalAddHome.html'" class="modal-home"></div>-->
    <script type="text/javascript" src="sw.js"></script>
    <script type="text/javascript" src="js/min/libs.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRrnGYhZW667iSgkZLCQ4tp6yS5iEi8tw"></script>
    <script>
        navigator.serviceWorker.getRegistrations().then(function (registrations) {
            for (var registration of registrations) {
                if (registration.active.scriptURL.indexOf('service-worker') != -1) {
                    registration.unregister()
                }
            }
        });
    </script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyD2BjQIERNw292CA_sbpkYl8LP5f4g3X4U",
            authDomain: "chabashoy-2c020.firebaseapp.com",
            databaseURL: "https://chabashoy-2c020.firebaseio.com",
            projectId: "chabashoy-2c020",
            storageBucket: "chabashoy-2c020.appspot.com",
            messagingSenderId: "709650480243"
        };
        firebase.initializeApp(config);

    </script>
</body>

</html>