<div class="info-directive" ng-class="{'show-detail': showDetail}">
    <div class="table-detail" ng-click="showDetailEvent()">
        <div class="content-info-first">
            <h2 class="mg-0" ng-bind="data.nombre"></h2>
            <!-- {{ data | json }}  -->
            <!-- <span ng-bind="getValue(data)"></span> -->
        </div>
        <div class="element-icon">
            <span class="icon-arrow_right"></span>
        </div>
    </div>
    <div class="has-detail is-service mg-0">
        <div class="block-info">
            <div ng-repeat="detail in detalle track by $index">
                <label ng-bind="getLabel($index)"></label><span ng-bind="detail"></span>
            </div>
        </div>
        <div class="action-block">
            <a class="" href="tel:{{actions.phone}}" onClick="return (navigator.userAgent.match(/Android|iPhone|iPad|iPod|Mobile/i))!=null;"><span class="icon-phone"></span></a>
            <a class="location-action" href="{{ actions.map }}" ng-if="actions.map" target="_blank"><span class="icon-location2"></span></a>
        </div>
    </div>
</div>