<p class="loading-serv" ng-if="isLoading">Cargando servicios...</p>
<div ng-if="!isLoading">
    <div class="select-option-add" ng-class="{'is-selected': listOptionsPharmacy.selected != dropPlaceholder}" ng-if="!displayAddBlock">
        <div combo list-options="listOptionsPharmacy"></div>
    </div>
    <div add-block new-element="newElement" ng-if="displayAddBlock" service-type="{{serviceType}}" acept-element="aceptElement"
        cancel-element="cancelElement" class="add-element-block"></div>
    <div block-info current-info="service.data" root-json="service.data"></div>
    <button class="button add-element" ng-click="addElement()" ng-class="{'add-element-visible': showAddElement()}">
        <span class="icon-add"></span>
    </button>
</div>
<div class="control-file confirm-block" ng-class="{'confirm-block-display': showBlockConfirm}">
    <button class="button" ng-click="cancelAction()">cancelar</button>
    <button class="button" ng-click="aceptAction()">aceptar</button>
</div>