<div id="modalAdd" class="modal modal-element" ng-class="{'show-modal-element': modalAdd.showModal}"> <!--ng-controller="AddServiceController"-->
    <span class="close-modal icon-arrow_right" ng-click="closeModalAdd()"></span>
    <div>
        <div class="content-modal" ng-if="!showMsg">
            <h1 class="contact">Ingrese la informacion requerida</h1>
            <form name="form.data" class="max-width-450">
                <ul class="data-required">
                    <li class="select-option" ng-class="{'show-list': listOpstions.open}">
                        <input type="button" class="button-select" ng-click="openList()" ng-value="listOpstions.selected" ng-class="setErrorCombo()">
                        <span class="icon-arrow_right"></span>
                        <ul class="options-list">
                            <li ng-click="setSelection('Institución')">Institución</li>
                            <li ng-click="setSelection('Remís')">Remises</li>
                            <li ng-click="setSelection('Rotisería')">Rotisería</li>
                        </ul>
                        <div ng-class="{'bg-list': listOpstions.open}" ng-click="setSelection('Seleccione tipo de servicio')"></div>
                    </li>
                    <li>
                        <input id="idName" type="text" name="name" ng-model="data.name" value="" ng-class="setError(data.name)" ng-required="true"
                            autocomplete="off">
                        <label for="idName" ng-class="{'has-text': data.name != ''}">Nombre del servicio</label>
                    </li>
                    <li>
                        <input id="idAddress" type="text" name="address" ng-model="data.address" value="" ng-class="setError(data.address)" ng-required="true"
                            autocomplete="off">
                        <label for="idAddress" ng-class="{'has-text': data.address != ''}">Dirección</label>
                    </li>
                    <li>
                        <input id="idDays" type="text" name="days" ng-model="data.days" value="" ng-class="setError(data.days)" ng-required="true"
                            autocomplete="off">
                        <label for="idDays" ng-class="{'has-text': data.days != ''}">Días y horarios disponibles</label>
                    </li>
                    <li>
                        <input id="idTel" type="text" name="tel" ng-model="data.tel" value="" ng-class="setError(data.tel)" ng-required="true" autocomplete="off">
                        <label for="idTel" ng-class="{'has-text': data.tel != ''}">Número de teléfono</label>
                    </li>
                </ul>
                <input type="button" ng-click="submit()" class="ripple button animation mgb-20px" value="Enviar">
            </form>
        </div>
        <div class="content-modal" ng-if="showMsg">
            <div class="info-msg mg-0">
                <p>Gracias por colaborar con el pueblo de Chabás.</p>
            </div>
        </div>
    </div>
</div>