<div id="modalServicios" class="modal modal-element" ng-class="{'show-modal-element': modal.showModal}"> <!--ng-controller="modalServicesController"-->
    <span class="close-modal icon-arrow_right" ng-click="closeModal()"></span>
    <div>
        <div class="content-modal">
            <!--<span class="icon-info"></span>-->
            <div ng-repeat="detail in modal.data track by $index">
                <h1 class="modal-text"><label ng-bind="getLabel(modal.data, $index)"></label><span ng-bind="detail"></span></h1>
            </div>
           <!-- <h1 class="modal-text"><label>Disponible: </label><span ng-bind="modal.horario"></span></h1>
            <h1 class="modal-text mgb-5"><label>Teléfono: </label><span ng-bind="modal.telefono"></span></h1>-->
            <a class="link call mobile" href="tel:{{modal.telefono}}"><button class="ripple button animation" onClick="return (navigator.userAgent.match(/Android|iPhone|iPad|iPod|Mobile/i))!=null;"><span>llamar</span></button>
            <a class="link map" href="{{ modal.mapa }}"
    target="_blank"><button class="button ripple"><span class="icon-location"></span><span> Mapa</span></button></a>
        </div>
    </div>
</div>