<div class="info services header-section">
    <h1>Seleccione la dirección que desea tomar</h1>

    <!--INSTITUCIONES-->
    <button accordion-element element-to-shrink="wrapTableInstitutions" max-height="2000" class="accordion-button button">
		<span>INSTITUCIONES</span>
		<span class="icon-arrow_right"></span>
	</button>
    <div id="wrapTableInstitutions" class="accordion-element">
        <table main-table table-config="tableInstitutions" selected-row="tableInstitutions.selectedRow" callback="clickRow" class="table-services visible"
            ng-if="loadedService"></table>
    </div>
    <div class="sombra-inferior"></div>
    <!--******************-->


    <!--REMISES-->
    <button accordion-element element-to-shrink="wrapTableTaxis" max-height="600" class="accordion-button button mg-top-5">
		<span>REMISES</span>
		<span class="icon-arrow_right"></span>
	</button>
    <div id="wrapTableTaxis" class="accordion-element">
        <table main-table table-config="tableTaxi" selected-row="tableTaxi.selectedRow" callback="clickRow" class="table-services visible"
            ng-if="loadedService"></table>
    </div>
    <div class="sombra-inferior"></div>
    <!--******************-->

    <!--ROTISERÍAS-->
    <button accordion-element element-to-shrink="wrapTableFastFood" max-height="600" class="accordion-button button mg-top-5">
		<span>ROTISERÍAS</span>
		<span class="icon-arrow_right"></span>
	</button>
    <div id="wrapTableFastFood" class="accordion-element">
        <table main-table table-config="fastFood" selected-row="fastFood.selectedRow" callback="clickRow" class="table-services visible"
            ng-if="loadedService"></table>
    </div>
    <div class="sombra-inferior"></div>
    <!--******************-->


    <div id="modalColectivos" class="modal" ng-class="{'show-modal': modal.showModal}">
        <span class="close-modal" ng-click="modal.showModal= false">X</span>
        <div class="content-modal">
            <span class="icon-info"></span>
            <h1 ng-bind="modal.direccion"></h1>
            <h1 ng-bind="modal.horario"></h1>
            <a class="link call" href="tel:03464480325"><button class="ripple button animation" onClick="return (navigator.userAgent.match(/Android|iPhone|iPad|iPod|Mobile/i))!=null;"><span class="icon-phone"></span> <span ng-bind="modal.telefono"></span></button>
            <a class="link map" href="{{ modal.mapa }}"
    target="_blank"><button class="button ripple"><span class="icon-location"></span><span> Mapa</span></button></a>
        </div>
    </div>
</div>