<div transition class="info services header-section">
    <h3 class="mgb-5">Seleccione el servicio que desea consultar</h3>
    <div class="info-msg">
        <p>Colabore informando un nuevo servicio <a ng-click="showModal()">aquí</a></p>
    </div>

    <!--INSTITUCIONES-->
    <button accordion-element element-to-shrink="wrapTableInstitutions" max-height="500"class="accordion-button button">
		<span>INSTITUCIONES</span>
		<span class="icon-arrow_right"></span>
	</button>
    <div id="wrapTableInstitutions" class="accordion-element">
        <table main-table table-config="tableInstitutions" selected-row="tableInstitutions.selectedRow" callback="clickRow" class="table-services visible"
            ng-if="loadedService"></table>
    </div>
    <!--<div id="shadowInst" class="sombra-inferior"></div>-->
    <!--******************-->


    <!--REMISES-->
    <button accordion-element element-to-shrink="wrapTableTaxis" max-height="600" class="accordion-button button mg-top-5">
		<span>REMISES</span>
		<span class="icon-arrow_right"></span>
	</button>
    <div id="wrapTableTaxis" class="accordion-element">
        <table main-table table-config="tableTaxi" selected-row="tableTaxi.selectedRow" callback="clickRow" class="table-services visible"
            ng-if="loadedService"></table>
    </div>
    <!--<div id="shadowRemises" class="sombra-inferior"></div>-->
    <!--******************-->

    <!--ROTISERÍAS-->
    <button accordion-element element-to-shrink="wrapTableFastFood" max-height="600" class="accordion-button button mg-top-5">
		<span>ROTISERÍAS</span>
		<span class="icon-arrow_right"></span>
	</button>
    <div id="wrapTableFastFood" class="accordion-element">
        <table main-table table-config="fastFood" selected-row="fastFood.selectedRow" callback="clickRow" class="table-services visible"
            ng-if="loadedService"></table>
    </div>
    <!--<div id="shadowRoticerias" class="sombra-inferior"></div>-->
    <!--******************-->
</div>